<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotiq_hand_e_macro" params="prefix">

    <material name="${prefix}Aluminium">
      <color rgba="0.9 0.9 0.9 0.99"/>
    </material>

    <material name="${prefix}Black">
      <color rgba="0.1 0.1 0.1 0.99"/>
    </material>

    <!-- link list -->
    <link name="${prefix}za_robotiq_adapter">
      <visual>
        <geometry>
          <mesh filename="package://za_description/meshes/adapter_za_robotiq.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        <material name="${prefix}Aluminium">
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://za_description/meshes/adapter_za_robotiq.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      </collision>
    </link>

    <link name="${prefix}hand_e_base">
      <visual>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_base.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        <material name="${prefix}Black">
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_base.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="100"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${prefix}hand_e_top">
      <visual>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_top.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        <material name="${prefix}Black">
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_top.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="100"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${prefix}hand_e_gripper1">
      <visual>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_gripper1.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <material name="${prefix}Aluminium">
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_gripper1.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <mass value="100"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${prefix}hand_e_gripper2">
      <visual>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_gripper2.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <material name="${prefix}Aluminium">
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://za_description/meshes/robotiq_hand_e_gripper2.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <mass value="100"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <!-- joint list -->
    <joint name="${prefix}adapter_hand_e_base" type="fixed">
      <parent link="${prefix}za_robotiq_adapter"/>
      <child link="${prefix}hand_e_base"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0.0305"/>
    </joint>

    <joint name="${prefix}hand_e_base_top" type="fixed">
      <parent link="${prefix}hand_e_base"/>
      <child link="${prefix}hand_e_top"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0.082"/>
    </joint>

    <joint name="${prefix}hand_e_top_gripper1" type="fixed">
      <parent link="${prefix}hand_e_top"/>
      <child link="${prefix}hand_e_gripper1"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.025 0 0.064"/>
    </joint>

    <joint name="${prefix}hand_e_top_gripper2" type="fixed">
      <parent link="${prefix}hand_e_top"/>
      <child link="${prefix}hand_e_gripper2"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="-0.025 0 0.064"/>
    </joint>
  </xacro:macro>
</robot>
