<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="za_ros2_control" params="prefix">
  
    <ros2_control name="za_ros2_control" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="${prefix}joint_1">
        <command_interface name="position">
          <param name="min">-2.96</param>
          <param name="max">2.96</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_2">
        <command_interface name="position">
          <param name="min">-1.74</param>
          <param name="max">2.35</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.53</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_3">
        <command_interface name="position">
          <param name="min">{-0.5 * pi}</param>
          <param name="max">1.15</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.47</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_4">
        <command_interface name="position">
          <param name="min">-2.6</param>
          <param name="max">2.6</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_5">
        <command_interface name="position">
          <param name="min">-2.49</param>
          <param name="max">2.49</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-1.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_6">
        <command_interface name="position">
          <param name="min">{pi * -1}</param>
          <param name="max">{pi}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>