<?xml version="1.0" ?>
<robot name="za" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="include_hardware" default="true"/>
  <xacro:include filename="$(find za_description)/urdf/za_macro.xacro"/>
  <xacro:za_macro prefix="$(arg prefix)"/>

  <!-- 'world' frame: default pose reference frame -->
  <link name="world" />
  <joint name="world-$(arg prefix)base_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="world"/>
    <child link="$(arg prefix)base_link"/>
  </joint>

  <xacro:if value="$(arg include_hardware)">
    <xacro:include filename="$(find za_description)/urdf/za.ros2_control.xacro"/>
    <xacro:za_ros2_control prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>
  </xacro:if>
</robot>
