<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="za_hand_e_macro" params="prefix tool0_trans tool0_rot">

    <xacro:include filename="$(find za_description)/urdf/za_macro.xacro"/>
    <xacro:za_macro prefix="${prefix}" tool0_trans="${tool0_trans}" tool0_rot="${tool0_trans}" tool0_fixed="True"/>

    <xacro:include filename="$(find za_description)/urdf/robotiq_hand_e_macro.xacro"/>
    <xacro:robotiq_hand_e_macro prefix=""/>

    <!-- attach hand_e to eef -->
    <!-- tool0 flange is set to correct dimensions in the za_macro.xacro -->
    <!-- this assures that planning is done from the perspective of the fingers -->
    <joint name="hand_e_attach_joint" type="fixed">
      <parent link="${prefix}flange"/>
      <child link="${prefix}za_robotiq_adapter"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
