<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="za_on_stand_macro" params="prefix standprefix tool">

    <xacro:if value="${tool == 'none'}">
      <xacro:include filename="$(find za_description)/urdf/za_macro.xacro"/>
      <xacro:za_macro prefix="${prefix}" tool0_trans="0 0 0" tool0_rot="0 ${pi*1} 0" tool0_fixed="True"/>
    </xacro:if>

    <xacro:if value="${tool == 'hand_e'}">
      <xacro:include filename="$(find za_description)/urdf/za_hand_e_macro.xacro"/>
      <xacro:za_hand_e_macro prefix="${prefix}" tool0_trans="0 0 0.1765" tool0_rot="0 ${pi*1} 0" tool0_fixed="True"/>
    </xacro:if>

    <xacro:include filename="$(find za_description)/urdf/za_stand_macro.xacro"/>
    <xacro:za_stand prefix="${standprefix}"/>

    <!-- attach robot to stand flange -->
    <joint name="robot_attach_joint" type="fixed">
      <parent link="${standprefix}za_stand_flange"/>
      <child link="${prefix}base_link"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 -${pi/4.0}" xyz="-0.1591 0.1591 0.70485"/>
    </joint>

  </xacro:macro>
</robot>
