<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="za_stand" params="prefix">
    <!-- link list -->
    <link name="${prefix}za_stand_link">
      <visual>
        <geometry>
          <mesh filename="package://za_description/meshes/stand-urdf-prototype.stl"/>
        </geometry>
        <origin rpy="0.0 0 0.0" xyz="0 0 0"/>
        <material name="DarkGray">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://za_description/meshes/stand-urdf-prototype.stl"/>
        </geometry>
        <origin rpy="0.0 0 0.0" xyz="0 0 0"/>
      </collision>
    </link>

    <!-- 'world' frame: default pose reference frame -->
    <link name="${prefix}world" />
    <joint name="${prefix}za_stand_link-world" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <parent link="${prefix}za_stand_link"/>
      <child link="${prefix}world"/>
    </joint>

    <!-- link the robot is going to be attached to -->
    <link name="${prefix}za_stand_flange" />

    <joint name="${prefix}za_stand_joint" type="fixed">
      <parent link="${prefix}za_stand_link"/>
      <child link="${prefix}za_stand_flange"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 -0.785398163" xyz="-0.1591 0.1591 0.70485"/>
    </joint>

  </xacro:macro>
</robot>
